In [1]:
import numbers as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
color = sns.color_palette()
import sklearn.metrics as metrics

import warnings
warnings.filterwarnings('ignore')

In [2]:
Default = pd.read_csv('Default.csv')

In [3]:
Default.head()

  default student  balance    income
0      No      No   729.53  44361.63
1      No     Yes   817.18  12106.13
2      No      No  1073.55  31767.14
3      No      No   529.25  35704.49
4      No      No   785.66  38463.50

In [4]:
Default.shape

(10000, 4)

In [5]:
Default.describe()

            balance        income
count  10000.000000  10000.000000
mean     835.374877  33516.981852
std      483.714957  13336.639582
min        0.000000    771.970000
25%      481.732500  21340.460000
50%      823.635000  34552.645000
75%     1166.305000  43807.730000
max     2654.320000  73554.230000